# This is Git's per-user configuration file.
[user]
	name = Marcus Bendtsen
	email = marcus.bendtsen@gmail.com
# Please adapt and uncomment the following lines:
#	name = marcus
#	email = marcus@penguin
[credential]
	helper = cache
[pull]
	rebase = false
